# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# compiled output
dist
tmp
build
*.ngfactory.ts
*.ngstyle.ts
*.shim.ts
*.ngsummary.json

# dependencies
node_modules
jspm_packages

# IDEs
.idea
.vscode
.vs

# misc
.DS_Store
logs
*.log
npm-debug.log*
pids
*.pid
*.seed
lib-cov
coverage
.nyc_output
.grunt
.lock-wscript
.npm
.node_repl_history
