* {
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	min-height: 100%;
}
.main-toolbar span {
	flex: 1;
}
.main-container {
	min-height: calc(100vh - 64px);
}
.main-container .mat-sidenav {
	min-width: 15vw;
	box-shadow: 3px 0 6px rgba(0,0,0,.24);
}
.main-content {
	padding: 20px;
}
