/* Fonts */
$font_sans_serif: sans-serif;

.main-content {
  padding: 20px;
  font-family: $font_sans_serif;

  h3 {
    margin-bottom: 20px;
  }
}

.md2-datepicker-panel, .md2-colorpicker-panel {
  font-family: $font_sans_serif;
}
