<md-toolbar color="primary" class="main-toolbar">
    <span>Webpack Admin</span>
    <button md-button [mdMenuTriggerFor]="menu">Shreel<md-icon>keyboard_arrow_down</md-icon></button>
    <md-menu #menu="mdMenu">
        <button md-menu-item><md-icon>settings_power</md-icon> Sign Out</button>
    </md-menu>
</md-toolbar>

<md-sidenav-container class="main-container">
    <md-sidenav mode="side" opened="true" class="main-sidenav">
        <md-nav-list>
            <a md-list-item [routerLinkActive]="['active']" [routerLink]="['page1']"> Page 1 </a>
            <a md-list-item [routerLinkActive]="['active']" [routerLink]="['page2']"> Page 2 </a>
            <a md-list-item> Page 3 </a>
            <a md-list-item> Page 4 </a>
        </md-nav-list>
    </md-sidenav>
    <div class="main-content">
        <router-outlet></router-outlet>
    </div>
</md-sidenav-container>
